body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #4D5053;
    background-color: #fff;
    -webkit-font-smoothing: antialised;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  p {
    margin: 0 0 0 0;
  }
  
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  input {
    outline: none;
    outline-offset: none;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0;
  }
  
  input:focus::placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  
  .container {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 0.5rem;
  }

  /*----------HEADER----------*/
  .nav {
    display: flex;
    justify-content: space-between;  
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .nav__link {
    color: #828282;
    text-decoration: none;
    transition: color 0.2s linear;
  }

  .nav__link:hover {
    color: #070707;
  }
  
  .header__inner {
    padding: 1rem 0;
    border-bottom: 1px solid #828282;
  }

  /*-----------HOME-----------*/
  .home {
    padding: 2.5rem 0 6.5rem 0;
  }
  .home__text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.8rem;
  }
  .home__name {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.3;
    padding-left: 1rem;
  }
  .home__about {
    padding-top: 3.4rem;
    font-size: 1.3rem;
  }
  
  .home__img {
    height: 24rem;
    border-radius: 0.4rem;
    overflow: hidden;
  }